<div class="container">
    {{#> FormAuth}}
        {{{ Title title="Регистрация" }}}
        <div class="container__inputs">
            {{{ InputField name="email" label="Почта" env="auth" type="email" ref="email" validate=validate.email}}}
            {{{ InputField name="login" label="Логин" env="auth" type="text" ref="login" validate=validate.login}}}
            {{{ InputField name="first_name" label="Имя" env="auth" type="text" ref="first_name" validate=validate.first_name}}}
            {{{ InputField name="second_name" label="Фамилия" env="auth" type="text" ref="second_name" validate=validate.second_name}}}
            {{{ InputField name="phone" label="Телефон" env="auth" type="text" ref="phone" validate=validate.phone}}}
            {{{ InputField name="password" label="Пароль" env="auth" type="password" ref="password" validate=validate.password}}}
            {{{ InputField name="repeat_password" label="Пароль (еще раз)" type="password"  env="auth" ref="repeat_password" validate=validate.repeat_password}}}
        </div>
        {{{ Button
                label="Зарегистрироваться"
                type="primary"
                onClick=handleRegister
        }}}
        {{{ Link
                label="Войти?"
                page="register"
                onClick=handleLogin
        }}}
    {{/FormAuth}}
</div>
